@import url("animazioni.css");

/* palette pensata: mix di grigi, creano un effetto visivo rilassante all'occhio ma allo stesso tempo non asettico come il solo bianco:
    principale: #ebe7e3
    secondario: #cfc4c7
    testi: #1f1f1f  */

*, *::before, *::after{
    box-sizing: border-box;
}

html{
    overflow-x: hidden;
}

body {
    background-color: #ebe7e3;
    color: #1f1f1f;
    width: 100%;
    font-size: 18pt;
    font-weight: 200;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.bodyWrap{
    margin: 1rem;
}

main {
    width: 90%;
    overflow: hidden;
}

.Sfondi{
    position: fixed;
    overflow: hidden;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.SfondoAlfiere{
    position: absolute;
    font-size: 40rem;
    top: 5.6rem;
    color: rgb(0, 0,0, 0.2);
    transform: rotate(-10deg);
}

.BarraSezioni{
    background-color: #cfc4c7;
    width: 100%;
    height: auto;
    overflow: hidden;
    margin: 0;
}

.Sezioni{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0; 
    margin: 0.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

.HeadBar{
    padding: 0;
    margin: 0.2rem;
}

.HeadBar a{
    display: inline-block;
    padding: 0;
    margin: 0.2rem;
    font-weight: 900;
    color: inherit;
    text-decoration: none;
    font-family: 'roboto';
    transition: transform 0.3s ease;
    cursor: pointer;
}

.HeadBar a:hover{
    transform: scale(1.05);
}

.Titolo{
    font-size: 44pt;
    margin-bottom: 0;
}

.Proprietario{
    margin-top: 0;
}

.Desc{
    font-family: 'Cormorant Garamond';
    font-size: 28pt;
    padding: 0.5rem;
    transform: translateX(200%);
    animation: SlideInDestra 1s ease-in-out var(--delay, 0s) forwards;
}
.Desc1{ --delay: 0s}
.Desc2{ --delay: 0.1s}
.Desc3{ --delay: 0.2s}

.Posts{
    display: flex;
    flex-direction: column-reverse;
    margin-top: 2rem;
}

.Blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: hidden;
    background-color: #ede7e3;
    width: 90%;
    height: 20rem;
    margin: 0 auto;
    border-radius: 5rem;
    margin-bottom: 5rem;
    box-shadow: 0 0 5px 2px black;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    transform-origin: center;
}

.Blog:hover{
    transform: scale(1.05);
}

label{
    display: block;
}

.linkBlog{
    color: inherit;
    text-decoration: none;
    cursor: pointer ;
}

.sfondoScacco{
    position: absolute;
    font-size: 10rem;
    top: 10rem;
    left: 10rem;
    color: rgb(0, 0,0, 0.2);
    transform: rotate(10deg);
}

.anteprimaBlog{
    word-wrap: break-word;
    font-weight: 450;
    padding-left: 1rem;
}

.Contattami{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10rem 2rem 10rem 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    background: #cdc4c7;
}

.Contattami label{
    margin: 0.5rem;
}

.datiContatto{
    margin-top: 2rem;
    align-self: flex-end;
}

.contInfo{
    display: flex;
    justify-content: space-between;
}

.fa-question{
    margin: 0 1rem 0 1rem;
}

.esempi{
    position: absolute;
    bottom: 40%;
    left: 50%;
    width: 50%;
    height: 0%;
    overflow: hidden;
    font-weight: 500;
    background: white;
    z-index: 10;
    transition: height 0.1s ease;
}

.fa-question:hover + .esempi{
    height: 25%;
    border: 1px solid black;
}

.titoloContSocial{
    border-bottom: 1px solid #ebe7e3;
}

span a{
    font-weight: 600;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.formazioneStudi ul{
    list-style: none;
}

.cardFormazione{
    max-height: 4rem;
    margin: 0 0.5rem 3rem 0.5rem;
    padding: 0 1rem 0.5rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    border-radius: 1rem;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
    cursor: pointer;
}

.altezzaCard{
    max-height: 3000px;
}

.formazioneStudi span{
    display: flex;
    justify-content: space-between;
}

.ditoPuntato{
    transition: transform 0.5s ease-in-out;
}

.giraDito{
    transform: rotate(-180deg);
}

.fineFormazione{
    margin: 0.5rem;
}

.cardProgetto{
    display: flex;
    flex-direction: column;
    margin: 1rem 0.5rem 1rem 0.5rem;
    padding: 0rem 1rem 0rem 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
    border-radius: 1rem;
    max-height: 3.5rem;
    overflow: hidden;
    cursor: pointer;
    transition: max-height 1s ease-in-out;
}

.cardProgetto span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardProgetto.altezzaCard{
    max-height: 10000px;
}

.screenProgetto{
    width: 90%;
    height: auto;
    border-radius: 1rem;
    align-self: center;
    overflow: hidden;
}

.bodyFeP{
    width: 50%;
    margin: 0 auto;
}

@media(max-width: 767px){
    body{
        width: 100%;
        font-size: 12pt;
        font-weight: 200;
    }
    
    main{
        width: 100%;
    }
    
    .Desc{
        margin: 0;
        text-align: left;
    }
    
    .TestoBlog{
        font-size: 15pt;
        margin-left: 3rem;
        padding-top: 0.5rem;
    }
    
    .fa-question:hover + .esempi{
    height: 38%;
    border: 1px solid black;
}

.bodyFeP{
    width: 100%;
} 
}